/* CLEAR RULES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main CSS*/
html {
  font-size: 62.5%;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  display: grid;
  place-content: center;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.test {
  padding-inline: 15rem;
  margin: 6rem auto 0;
  background-color: hsl(0, 0%, 12%);
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.2);
  width: 32rem;
  padding: 1.8rem;
  border-radius: 0.8rem;
  text-align: center;
}

.img {
  width: 9rem;
  margin: 0 auto;
  margin-bottom: 1.8rem;
}

.img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.test h1 {
  font-weight: 700;
  font-size: 2.3rem;
}

.test h6 {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.button li {
  width: 100%;
}

.button li a {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 1.6rem 0;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.button li a:link,
.button li a:visited {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
}

.button li a:hover,
.button li a:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 12px;
  text-align: center;
  position: fixed;
  display: flex;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  gap: 0.5rem;
}

.attribution a {
  color: hsl(75, 94%, 57%);
}
